
.name:after {
  content: ':';
}
.name {
  color: blue;
  font-weight: bold;
  padding-right: 3em;
}
.skill > .name {
  color: white;
  font-weight: bold;
  padding-right: 3em;
}
.focuses:before {
  content:'(';
  padding-left: 1em;
}
.focuses:after {
  content:')';
}
.focuses:empty:before {
  content:'';
}
.focuses:empty:after {
  content:'';
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 0;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.modal-content {
  z-index: 2;
  margin: auto;
  max-height: 80%;
  max-width: 90%;
  align-self: space-around;
  overflow: auto;
  background-color: navy;
  color: silver;
  border-radius: 5px;
  border: 3px solid silver;
  padding: 0.5em 1em;
}
.modal-content > .header, .modal-content > .footer, .modal-content > .main {
  border: 2px solid silver;
  border-radius: 5px;
}

.header, .footer {
  max-height: 10%;
  margin: 0 auto;
  padding: 1mm;
}
.footer *, .header * {
  margin: 0 auto;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  padding: 2px 5px;
  flex-grow: 1;
  width: 80%;
}
.form-field * {
  margin: 0 auto;
}

.form-field :last-of-type(div) {
  margin-right: 0;
}

.skill.list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  justify-content: space-between;
  justify-items: stretch;
  background: green;
}
.skill.list > .actions {
  flex: 1 1 40%;
  align-self: stretch;
  border: 1px solid black;
  padding: 5px;
}
.skill.list > .skill {
  vertical-align: middle;
  align-self: stretch;
  margin: auto 0;
  background-color: blue;
  padding: 5px;
}
.skill.list > .skill:first-of-type {
  padding-left: 1em;
}
.skill.list > .skill:last-of-type {
  align-self: right;
  color: yellow;
  margin: 0 auto;
  padding-right: 1em;
}

.modal > * {
  padding-top: 1em;
  padding-bottom: 1em;
}

.modal-content > .header {
  text-align: center;
  justify-content: space-around;
}

.modal-content > .footer, .modal-content > .header {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  align-content: space-evenly;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}