

:root {
  --disabled: grey;
  --primary: navy;
  --secondary: darkcyan;
  --background: lightyellow;
  --color: black;
  --disabled-color: yellow;
  --primary-color: #c9c9c9;
  --secondary-color: green;
  --error: #00a9a9;
  --error-color: red;
  --success-color: green;
  --success-background: #808000;

  --menu-color: var(--primary-color);
  --menu: var(--primary);
  --menu-hover: var(--primary-color);
  --menu-hover-color: var(--primary);
  
}

.success {
  color: var(--success-color);
  background-color: var(--success);
}
.error {
  color: var(--error-color);
  background-color: var(--error);
}

.disabled {
   color: var(--disabled-color);
   background: var(--disabled);
}

.hidden {
  display: none;
}

html {
  background-color: var(--background);
  color: var(--color);
}
body {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius:5mm;
  border: 3px solid var(--color);
  padding: 5% 15%;
  margin: 5;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100%;
  vertical-align: middle;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.control.disabled {
  background: var(--disabled);
  color: var(--disabled-color);
}

.name:after {
  content: ':';
}
.name {
  color: blue;
  font-weight: bold;
  padding-right: 3em;
}
.skill > .name {
  color: white;
  font-weight: bold;
  padding-right: 3em;
}
.focuses:before {
  content:'(';
  padding-left: 1em;
}
.focuses:after {
  content:')';
}
.focuses:empty:before {
  content:'';
}
.focuses:empty:after {
  content:'';
}

nav.left {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
}

.menu {
  list-style-type: none;
}
.menu.left {
  top: 0;
  left:0;
  position: fixed;
  height: 100%;
}
.menu.right {
  top:0;
  right: 0;
  position: fixed;
  height: 100%;
}
.menu.top {
  top:0;
left: 0;
position: fixed;
height: 100%;
}
.menu.bottom {
  bottom:0;
left: 0;
position: fixed;
height: 100%;
}
.menu-item {
  text-align: center;
  color: var(--menu-color);
  background-color: var(--menu);
  padding: 0.6em 1em;
}
.menu li .menu-item:hover {
  color: var(--menu-color, white);
  background-color: var(--menu, red);
}

.menu.vertical .menu-item {
  display: block;
  padding: 0.6em 1em;
}

.menu li .menu-item:hover {
  color: var(--menu-hover-color, white);
  background-color: var(--menu-hover, blue);
}
.menu li .menu-item.active {
  color: var(--menu-active-color, black);
  background-color: var(--menu-active, yellow);
}
.menu li .menu-item.disabled, .menu.disabled li .menu-item {
  color: var(--menu-active-color, black);
  background-color: var(--menu-disabled, grey);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 0;
}

.control {
  background-color: var(--secondary);
  color: var(--secondary-color);
  font-size-adjust: +1;
  min-width: 4em;
}

bold {
  font-weight: bold;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.modal-content {
  z-index: 2;
  margin: auto;
  max-height: 80%;
  max-width: 90%;
  align-self: space-around;
  overflow: auto;
  background-color: navy;
  color: silver;
  border-radius: 5px;
  border: 3px solid silver;
  padding: 0.5em 1em;
}
.modal-content > .header, .modal-content > .footer, .modal-content > .main {
  border: 2px solid silver;
  border-radius: 5px;
}

.header, .footer {
  max-height: 10%;
  margin: 0 auto;
  padding: 1mm;
}
.footer *, .header * {
  margin: 0 auto;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  padding: 2px 5px;
  flex-grow: 1;
  width: 80%;
}
.form-field * {
  margin: 0 auto;
}

.form-field :last-of-type(div) {
  margin-right: 0;
}

.skill.list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  justify-content: space-between;
  justify-items: stretch;
  background: green;
}
.skill.list > .actions {
  flex: 1 1 40%;
  align-self: stretch;
  border: 1px solid black;
  padding: 5px;
}
.skill.list > .skill {
  vertical-align: middle;
  align-self: stretch;
  margin: auto 0;
  background-color: blue;
  padding: 5px;
}
.skill.list > .skill:first-of-type {
  padding-left: 1em;
}
.skill.list > .skill:last-of-type {
  align-self: right;
  color: yellow;
  margin: 0 auto;
  padding-right: 1em;
}

.modal > * {
  padding-top: 1em;
  padding-bottom: 1em;
}

.modal-content > .header {
  text-align: center;
  justify-content: space-around;
}

.modal-content > .footer, .modal-content > .header {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  align-content: space-evenly;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}